.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.Expenses {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.table {
  margin-left: auto;
  margin-right: auto;
}


li {
  list-style-type: none;
}

span {
  margin: 25px;
}

.text-danger {
  color: red;
}